
.vf-create-account *,
.vf-create-account *:before,
.vf-create-account *:after,
.vf-create-account:root {
  --vf-white: #ffffff;
--vf-black: #000000;
--vf-primary: #007bff;
--vf-light-primary: #66b3ff;
--vf-secondary: #6c757d;
--vf-secondary-dark: #5a6268;
--vf-success: #28a745;
--vf-info: #17a2b8;
--vf-warning: #ffc107;
--vf-danger: #dc3545;
--vf-light: #f8f9fa;
--vf-dark: #343a40;
--vf-font-size: 1rem;
--vf-line-height: 1.5rem;
--vf-letter-spacing: 0;
--vf-line-height-headings: 45px;
--vf-letter-spacing-headings: 0;
--vf-line-height-text: 24px;
--vf-letter-spacing-text: 0;
--vf-font-size-h1: 2.5rem;
--vf-font-size-h2: 2rem;
--vf-font-size-h3: 1.75rem;
--vf-font-size-h4: 1.5rem;
--vf-font-size-blockquote: 1.25rem;
--vf-line-height-blockquote: 1.5rem;
--vf-letter-spacing-blockquote: 0;
--vf-color-label: #495057;
--vf-color-description: #495057;
--vf-ring-color: #007bff66;
--vf-ring-width: 0.2rem;
--vf-px-input: 0.75rem;
--vf-py-input: 0.375rem;
--vf-radius-input-t: 0.25rem;
--vf-radius-input-r: 0.25rem;
--vf-radius-input-b: 0.25rem;
--vf-radius-input-l: 0.25rem;
--vf-border-width-input-t: 1px;
--vf-border-width-input-r: 1px;
--vf-border-width-input-b: 1px;
--vf-border-width-input-l: 1px;
--vf-border-color-input: var(--vf-gray-400);
--vf-bg-input: #ffffff;
--vf-color-input: #495057;
--vf-shadow-input: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-hover: var(--vf-gray-400);
--vf-bg-input-hover: #ffffff;
--vf-color-input-hover: #495057;
--vf-shadow-input-hover: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-focus: var(--vf-gray-400);
--vf-bg-input-focus: #ffffff;
--vf-color-input-focus: #495057;
--vf-shadow-input-focus: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-danger: var(--vf-gray-400);
--vf-bg-input-danger: #ffffff;
--vf-color-input-danger: #495057;
--vf-shadow-input-danger: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-color-input-success: #495057;
--vf-bg-input-success: #ffffff;
--vf-border-color-input-success: var(--vf-gray-400);
--vf-color-disabled: #495057;
--vf-bg-disabled: #e9ecef;
--vf-border-width-dropdown: 1px;
--vf-shadow-dropdown: 0px 0px 0px 0px rgba(0,0,0,0);
--vf-checkbox-size: 1rem;
--vf-space-checkbox: 0.25rem;
--vf-border-width-radio-t: 1px;
--vf-border-width-radio-r: 1px;
--vf-border-width-radio-b: 1px;
--vf-border-width-radio-l: 1px;
--vf-border-width-checkbox-t: 1px;
--vf-border-width-checkbox-r: 1px;
--vf-border-width-checkbox-b: 1px;
--vf-border-width-checkbox-l: 1px;
--vf-radius-checkbox-t: 0.25rem;
--vf-radius-checkbox-r: 0.25rem;
--vf-radius-checkbox-b: 0.25rem;
--vf-radius-checkbox-l: 0.25rem;
--vf-px-group-tabs: 0.75rem;
--vf-py-group-tabs: 0.375rem;
--vf-px-group-blocks: 1rem;
--vf-py-group-blocks: 0.75rem;
--vf-border-color-checkbox-colors: var(--vf-gray-400);
--vf-bg-checkbox-colors: #ffffff;
--vf-border-color-checkbox-hover: var(--vf-gray-400);
--vf-bg-checkbox-hover: #ffffff;
--vf-border-color-checkbox-focus: var(--vf-gray-400);
--vf-bg-checkbox-focus: #ffffff;
--vf-border-color-checkbox-danger: var(--vf-gray-400);
--vf-bg-checkbox-danger: #ffffff;
--vf-border-color-checkbox-success: var(--vf-gray-400);
--vf-bg-checkbox-success: #ffffff;
--vf-border-color-checkbox-checked: var(--vf-primary);
--vf-px-btn: 0.75rem;
--vf-py-btn: 0.375rem;
--vf-border-color-btn: var(--vf-primary);
--vf-border-width-btn-t: 1px;
--vf-border-width-btn-r: 1px;
--vf-border-width-btn-b: 1px;
--vf-border-width-btn-l: 1px;
--vf-radius-btn-t: 0.25rem;
--vf-radius-btn-r: 0.25rem;
--vf-radius-btn-b: 0.25rem;
--vf-radius-btn-l: 0.25rem;
--vf-color-btn: #ffffff;
--vf-bg-btn: var(--vf-primary);
--vf-shadow-btn: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-btn-secondary: var(--vf-danger);
--vf-color-btn-secondary: #495057;
--vf-bg-btn-secondary: #e9ecef;
--vf-border-color-btn-danger: var(--vf-gray-200);
--vf-color-btn-danger: #ffffff;
--vf-bg-btn-danger: var(--vf-danger);
--vf-toggle-width: 3rem;
--vf-toggle-height: 1.25rem;
--vf-border-width-toggle: 0.125rem;
--vf-radius-image: 0.25rem;
--vf-gallery-size: 6rem;
--vf-radius-gallery: 0.25rem;
--vf-color-static: #333333;
--vf-space-static-tag-1: 1rem;
--vf-space-static-tag-2: 2rem;
--vf-space-static-tag-3: 3rem;
--vf-py-hr: 0.25rem;
--vf-border-color-hr: #6c757d;
--vf-py-blockquote: 0.5rem;
--vf-px-blockquote: 1rem;
--vf-border-color-blockquote: #ced4da;
--vf-color-date-head: #495057;
--vf-bg-date-head: #f8f9fa;
null-lg: 2.375rem;
--vf-font-size-lg: 1rem;
--vf-line-height-lg: 1.5rem;
--vf-letter-spacing-lg: 0;
--vf-line-height-headings-lg: 45px;
--vf-letter-spacing-headings-lg: 0;
--vf-line-height-text-lg: 24px;
--vf-letter-spacing-text-lg: 0;
--vf-font-size-h1-lg: 2.5rem;
--vf-font-size-h2-lg: 2rem;
--vf-font-size-h3-lg: 1.75rem;
--vf-font-size-h4-lg: 1.5rem;
--vf-font-size-blockquote-lg: 1.25rem;
--vf-line-height-blockquote-lg: 1.5rem;
--vf-letter-spacing-blockquote-lg: 0;
--vf-color-label-lg: #495057;
--vf-color-description-lg: #495057;
--vf-ring-color-lg: #007bff66;
--vf-ring-width-lg: 0.2rem;
--vf-px-input-lg: 0.75rem;
--vf-py-input-lg: 0.375rem;
--vf-radius-input-t,--vf-radius-input-r,--vf-radius-input-b,--vf-radius-input-l-lg: 0.25rem;
--vf-border-width-input-t,--vf-border-width-input-r,--vf-border-width-input-b,--vf-border-width-input-l-lg: 1px;
--vf-border-color-input-lg: var(--vf-gray-400);
--vf-bg-input-lg: #ffffff;
--vf-color-input-lg: #495057;
--vf-shadow-input-lg: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-hover-lg: var(--vf-gray-400);
--vf-bg-input-hover-lg: #ffffff;
--vf-color-input-hover-lg: #495057;
--vf-shadow-input-hover-lg: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-focus-lg: var(--vf-gray-400);
--vf-bg-input-focus-lg: #ffffff;
--vf-color-input-focus-lg: #495057;
--vf-shadow-input-focus-lg: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-danger-lg: var(--vf-gray-400);
--vf-bg-input-danger-lg: #ffffff;
--vf-color-input-danger-lg: #495057;
--vf-shadow-input-danger-lg: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-color-input-success-lg: #495057;
--vf-bg-input-success-lg: #ffffff;
--vf-border-color-input-success-lg: var(--vf-gray-400);
--vf-color-disabled-lg: #495057;
--vf-bg-disabled-lg: #e9ecef;
--vf-border-width-dropdown-lg: 1px;
--vf-shadow-dropdown-lg: 0px 0px 0px 0px rgba(0,0,0,0);
--vf-checkbox-size-lg: 1rem;
--vf-space-checkbox-lg: 0.25rem;
--vf-border-width-radio-t,--vf-border-width-radio-r,--vf-border-width-radio-b,--vf-border-width-radio-l-lg: 1px;
--vf-border-width-checkbox-t,--vf-border-width-checkbox-r,--vf-border-width-checkbox-b,--vf-border-width-checkbox-l-lg: 1px;
--vf-radius-checkbox-t,--vf-radius-checkbox-r,--vf-radius-checkbox-b,--vf-radius-checkbox-l-lg: 0.25rem;
--vf-px-group-tabs-lg: 0.75rem;
--vf-py-group-tabs-lg: 0.375rem;
--vf-px-group-blocks-lg: 1rem;
--vf-py-group-blocks-lg: 0.75rem;
--vf-border-color-checkbox-colors-lg: var(--vf-gray-400);
--vf-bg-checkbox-colors-lg: #ffffff;
--vf-border-color-checkbox-hover-lg: var(--vf-gray-400);
--vf-bg-checkbox-hover-lg: #ffffff;
--vf-border-color-checkbox-focus-lg: var(--vf-gray-400);
--vf-bg-checkbox-focus-lg: #ffffff;
--vf-border-color-checkbox-danger-lg: var(--vf-gray-400);
--vf-bg-checkbox-danger-lg: #ffffff;
--vf-border-color-checkbox-success-lg: var(--vf-gray-400);
--vf-bg-checkbox-success-lg: #ffffff;
--vf-border-color-checkbox-checked-lg: var(--vf-primary);
--vf-px-btn-lg: 0.75rem;
--vf-py-btn-lg: 0.375rem;
--vf-border-color-btn-lg: var(--vf-primary);
--vf-border-width-btn-t,--vf-border-width-btn-r,--vf-border-width-btn-b,--vf-border-width-btn-l-lg: 1px;
--vf-radius-btn-t,--vf-radius-btn-r,--vf-radius-btn-b,--vf-radius-btn-l-lg: 0.25rem;
--vf-color-btn-lg: #ffffff;
--vf-bg-btn-lg: var(--vf-primary);
--vf-shadow-btn-lg: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-btn-secondary-lg: var(--vf-danger);
--vf-color-btn-secondary-lg: #495057;
--vf-bg-btn-secondary-lg: #e9ecef;
--vf-border-color-btn-danger-lg: var(--vf-gray-200);
--vf-color-btn-danger-lg: #ffffff;
--vf-bg-btn-danger-lg: var(--vf-danger);
--vf-toggle-width-lg: 3rem;
--vf-toggle-height-lg: 1.25rem;
--vf-border-width-toggle-lg: 0.125rem;
--vf-radius-image-lg: 0.25rem;
--vf-gallery-size-lg: 6rem;
--vf-radius-gallery-lg: 0.25rem;
--vf-color-static-lg: #333333;
--vf-space-static-tag-1-lg: 1rem;
--vf-space-static-tag-2-lg: 2rem;
--vf-space-static-tag-3-lg: 3rem;
--vf-py-hr-lg: 0.25rem;
--vf-border-color-hr-lg: #6c757d;
--vf-py-blockquote-lg: 0.5rem;
--vf-px-blockquote-lg: 1rem;
--vf-border-color-blockquote-lg: #ced4da;
--vf-color-date-head-lg: #495057;
--vf-bg-date-head-lg: #f8f9fa;
null-md: 2.375rem;
--vf-font-size-md: 1rem;
--vf-line-height-md: 1.5rem;
--vf-letter-spacing-md: 0;
--vf-line-height-headings-md: 45px;
--vf-letter-spacing-headings-md: 0;
--vf-line-height-text-md: 24px;
--vf-letter-spacing-text-md: 0;
--vf-font-size-h1-md: 2.5rem;
--vf-font-size-h2-md: 2rem;
--vf-font-size-h3-md: 1.75rem;
--vf-font-size-h4-md: 1.5rem;
--vf-font-size-blockquote-md: 1.25rem;
--vf-line-height-blockquote-md: 1.5rem;
--vf-letter-spacing-blockquote-md: 0;
--vf-color-label-md: #495057;
--vf-color-description-md: #495057;
--vf-ring-color-md: #007bff66;
--vf-ring-width-md: 0.2rem;
--vf-px-input-md: 0.75rem;
--vf-py-input-md: 0.375rem;
--vf-radius-input-t,--vf-radius-input-r,--vf-radius-input-b,--vf-radius-input-l-md: 0.25rem;
--vf-border-width-input-t,--vf-border-width-input-r,--vf-border-width-input-b,--vf-border-width-input-l-md: 1px;
--vf-border-color-input-md: var(--vf-gray-400);
--vf-bg-input-md: #ffffff;
--vf-color-input-md: #495057;
--vf-shadow-input-md: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-hover-md: var(--vf-gray-400);
--vf-bg-input-hover-md: #ffffff;
--vf-color-input-hover-md: #495057;
--vf-shadow-input-hover-md: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-focus-md: var(--vf-gray-400);
--vf-bg-input-focus-md: #ffffff;
--vf-color-input-focus-md: #495057;
--vf-shadow-input-focus-md: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-danger-md: var(--vf-gray-400);
--vf-bg-input-danger-md: #ffffff;
--vf-color-input-danger-md: #495057;
--vf-shadow-input-danger-md: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-color-input-success-md: #495057;
--vf-bg-input-success-md: #ffffff;
--vf-border-color-input-success-md: var(--vf-gray-400);
--vf-color-disabled-md: #495057;
--vf-bg-disabled-md: #e9ecef;
--vf-border-width-dropdown-md: 1px;
--vf-shadow-dropdown-md: 0px 0px 0px 0px rgba(0,0,0,0);
--vf-checkbox-size-md: 1rem;
--vf-space-checkbox-md: 0.25rem;
--vf-border-width-radio-t,--vf-border-width-radio-r,--vf-border-width-radio-b,--vf-border-width-radio-l-md: 1px;
--vf-border-width-checkbox-t,--vf-border-width-checkbox-r,--vf-border-width-checkbox-b,--vf-border-width-checkbox-l-md: 1px;
--vf-radius-checkbox-t,--vf-radius-checkbox-r,--vf-radius-checkbox-b,--vf-radius-checkbox-l-md: 0.25rem;
--vf-px-group-tabs-md: 0.75rem;
--vf-py-group-tabs-md: 0.375rem;
--vf-px-group-blocks-md: 1rem;
--vf-py-group-blocks-md: 0.75rem;
--vf-border-color-checkbox-colors-md: var(--vf-gray-400);
--vf-bg-checkbox-colors-md: #ffffff;
--vf-border-color-checkbox-hover-md: var(--vf-gray-400);
--vf-bg-checkbox-hover-md: #ffffff;
--vf-border-color-checkbox-focus-md: var(--vf-gray-400);
--vf-bg-checkbox-focus-md: #ffffff;
--vf-border-color-checkbox-danger-md: var(--vf-gray-400);
--vf-bg-checkbox-danger-md: #ffffff;
--vf-border-color-checkbox-success-md: var(--vf-gray-400);
--vf-bg-checkbox-success-md: #ffffff;
--vf-border-color-checkbox-checked-md: var(--vf-primary);
--vf-px-btn-md: 0.75rem;
--vf-py-btn-md: 0.375rem;
--vf-border-color-btn-md: var(--vf-primary);
--vf-border-width-btn-t,--vf-border-width-btn-r,--vf-border-width-btn-b,--vf-border-width-btn-l-md: 1px;
--vf-radius-btn-t,--vf-radius-btn-r,--vf-radius-btn-b,--vf-radius-btn-l-md: 0.25rem;
--vf-color-btn-md: #ffffff;
--vf-bg-btn-md: var(--vf-primary);
--vf-shadow-btn-md: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-btn-secondary-md: var(--vf-danger);
--vf-color-btn-secondary-md: #495057;
--vf-bg-btn-secondary-md: #e9ecef;
--vf-border-color-btn-danger-md: var(--vf-gray-200);
--vf-color-btn-danger-md: #ffffff;
--vf-bg-btn-danger-md: var(--vf-danger);
--vf-toggle-width-md: 3rem;
--vf-toggle-height-md: 1.25rem;
--vf-border-width-toggle-md: 0.125rem;
--vf-radius-image-md: 0.25rem;
--vf-gallery-size-md: 6rem;
--vf-radius-gallery-md: 0.25rem;
--vf-color-static-md: #333333;
--vf-space-static-tag-1-md: 1rem;
--vf-space-static-tag-2-md: 2rem;
--vf-space-static-tag-3-md: 3rem;
--vf-py-hr-md: 0.25rem;
--vf-border-color-hr-md: #6c757d;
--vf-py-blockquote-md: 0.5rem;
--vf-px-blockquote-md: 1rem;
--vf-border-color-blockquote-md: #ced4da;
--vf-color-date-head-md: #495057;
--vf-bg-date-head-md: #f8f9fa;
null-sm: 2.375rem;
--vf-font-size-sm: 1rem;
--vf-line-height-sm: 1.5rem;
--vf-letter-spacing-sm: 0;
--vf-line-height-headings-sm: 45px;
--vf-letter-spacing-headings-sm: 0;
--vf-line-height-text-sm: 24px;
--vf-letter-spacing-text-sm: 0;
--vf-font-size-h1-sm: 2.5rem;
--vf-font-size-h2-sm: 2rem;
--vf-font-size-h3-sm: 1.75rem;
--vf-font-size-h4-sm: 1.5rem;
--vf-font-size-blockquote-sm: 1.25rem;
--vf-line-height-blockquote-sm: 1.5rem;
--vf-letter-spacing-blockquote-sm: 0;
--vf-color-label-sm: #495057;
--vf-color-description-sm: #495057;
--vf-ring-color-sm: #007bff66;
--vf-ring-width-sm: 0.2rem;
--vf-px-input-sm: 0.75rem;
--vf-py-input-sm: 0.375rem;
--vf-radius-input-t,--vf-radius-input-r,--vf-radius-input-b,--vf-radius-input-l-sm: 0.25rem;
--vf-border-width-input-t,--vf-border-width-input-r,--vf-border-width-input-b,--vf-border-width-input-l-sm: 1px;
--vf-border-color-input-sm: var(--vf-gray-400);
--vf-bg-input-sm: #ffffff;
--vf-color-input-sm: #495057;
--vf-shadow-input-sm: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-hover-sm: var(--vf-gray-400);
--vf-bg-input-hover-sm: #ffffff;
--vf-color-input-hover-sm: #495057;
--vf-shadow-input-hover-sm: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-focus-sm: var(--vf-gray-400);
--vf-bg-input-focus-sm: #ffffff;
--vf-color-input-focus-sm: #495057;
--vf-shadow-input-focus-sm: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-input-danger-sm: var(--vf-gray-400);
--vf-bg-input-danger-sm: #ffffff;
--vf-color-input-danger-sm: #495057;
--vf-shadow-input-danger-sm: inset 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-color-input-success-sm: #495057;
--vf-bg-input-success-sm: #ffffff;
--vf-border-color-input-success-sm: var(--vf-gray-400);
--vf-color-disabled-sm: #495057;
--vf-bg-disabled-sm: #e9ecef;
--vf-border-width-dropdown-sm: 1px;
--vf-shadow-dropdown-sm: 0px 0px 0px 0px rgba(0,0,0,0);
--vf-checkbox-size-sm: 1rem;
--vf-space-checkbox-sm: 0.25rem;
--vf-border-width-radio-t,--vf-border-width-radio-r,--vf-border-width-radio-b,--vf-border-width-radio-l-sm: 1px;
--vf-border-width-checkbox-t,--vf-border-width-checkbox-r,--vf-border-width-checkbox-b,--vf-border-width-checkbox-l-sm: 1px;
--vf-radius-checkbox-t,--vf-radius-checkbox-r,--vf-radius-checkbox-b,--vf-radius-checkbox-l-sm: 0.25rem;
--vf-px-group-tabs-sm: 0.75rem;
--vf-py-group-tabs-sm: 0.375rem;
--vf-px-group-blocks-sm: 1rem;
--vf-py-group-blocks-sm: 0.75rem;
--vf-border-color-checkbox-colors-sm: var(--vf-gray-400);
--vf-bg-checkbox-colors-sm: #ffffff;
--vf-border-color-checkbox-hover-sm: var(--vf-gray-400);
--vf-bg-checkbox-hover-sm: #ffffff;
--vf-border-color-checkbox-focus-sm: var(--vf-gray-400);
--vf-bg-checkbox-focus-sm: #ffffff;
--vf-border-color-checkbox-danger-sm: var(--vf-gray-400);
--vf-bg-checkbox-danger-sm: #ffffff;
--vf-border-color-checkbox-success-sm: var(--vf-gray-400);
--vf-bg-checkbox-success-sm: #ffffff;
--vf-border-color-checkbox-checked-sm: var(--vf-primary);
--vf-px-btn-sm: 0.75rem;
--vf-py-btn-sm: 0.375rem;
--vf-border-color-btn-sm: var(--vf-primary);
--vf-border-width-btn-t,--vf-border-width-btn-r,--vf-border-width-btn-b,--vf-border-width-btn-l-sm: 1px;
--vf-radius-btn-t,--vf-radius-btn-r,--vf-radius-btn-b,--vf-radius-btn-l-sm: 0.25rem;
--vf-color-btn-sm: #ffffff;
--vf-bg-btn-sm: var(--vf-primary);
--vf-shadow-btn-sm: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
--vf-border-color-btn-secondary-sm: var(--vf-danger);
--vf-color-btn-secondary-sm: #495057;
--vf-bg-btn-secondary-sm: #e9ecef;
--vf-border-color-btn-danger-sm: var(--vf-gray-200);
--vf-color-btn-danger-sm: #ffffff;
--vf-bg-btn-danger-sm: var(--vf-danger);
--vf-toggle-width-sm: 3rem;
--vf-toggle-height-sm: 1.25rem;
--vf-border-width-toggle-sm: 0.125rem;
--vf-radius-image-sm: 0.25rem;
--vf-gallery-size-sm: 6rem;
--vf-radius-gallery-sm: 0.25rem;
--vf-color-static-sm: #333333;
--vf-space-static-tag-1-sm: 1rem;
--vf-space-static-tag-2-sm: 2rem;
--vf-space-static-tag-3-sm: 3rem;
--vf-py-hr-sm: 0.25rem;
--vf-border-color-hr-sm: #6c757d;
--vf-py-blockquote-sm: 0.5rem;
--vf-px-blockquote-sm: 1rem;
--vf-border-color-blockquote-sm: #ced4da;
--vf-color-date-head-sm: #495057;
--vf-bg-date-head-sm: #f8f9fa;
}
